/* Diseño general */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #25282a;
}

/* Parte superior de la página */

header {
    background-color: #25282a;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Contenido principal */

main {
    text-align: center;
    padding: 40px;
}

/* Botones */

button {
    background-color: #e52d3f;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #c92335;
}

/* Formulario de registro del personal*/

form {
    width: 400px;
    margin: 30px auto;
    text-align: left;
}

label {
    font-weight: bold;
}

input,
select{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

form button {
    display: block;
    margin: 20px auto 0;
}